.wheel {
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 50px;
  position: absolute;
  height: 55vw;
  width: 55vw;
  max-width: 500px;
  max-height: 500px;
  
  animation-name:wheel;      <!-- links the object wheel to the animation-->
  animation-duration:10s;      <!-- Sets animation in motion-->

  animation-iteration-count:infinite;   <!-- How many loops are set to infinite-->
  animation-timing-function:linear;     <!-- -->
}


.line {
  background-color: black;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;      <!-- Sets the origin of the rotation to up 0 and left 0-->
}

.line:nth-of-type(2)            <!--Affects online the second class="line" elements-->
{
  transform:rotate(60deg);      <!--Makes the pie line from transform origin to a 60 degree angle and so on -->
}
.line:nth-of-type(3) {
  transform: rotate(120deg);
}
.line:nth-of-type(4) {
  transform: rotate(180deg);
}
.line:nth-of-type(5) {
  transform: rotate(240deg);
}
.line:nth-of-type(6) {
  transform: rotate(300deg);
}

.cabin {
  background-color: red;
  width: 20%;
  height: 20%;
  position: absolute;
  border: 2px solid;
  transform-origin: 50% 0%;
  animation: cabins 10s ease-in-out infinite; <!-- links the object cabin to the animation cabins-->
}

.cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}
.cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}
.cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}
.cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}


@keyframes wheel{             <!--Used to control the flow of an animation cycle in css-->
                              <!--Requires a name attribute-->
                              <!--additional rules that encompass the animation cycle can then be placed inside this keyframes rule-->

  
  0% {
     transform: rotate(0deg);
   }
100% {transform:rotate(360deg);}

}



@keyframes cabins {           <!--Used to control the flow of an animation cycle of the cabins and alter its colors at said portions of animation cycle-->
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
   75% {
    background-color: yellow;
  }
  100% {
    transform: rotate(-360deg);
  }
}
